extends layout/layout

block content 
	p  
		strong Hi #{recipient.firstName},
	p You are seeing this email because you have requested for a password reset. Kindly click the button below to proceed, or ignore this email if you did not make this request.

	table.button-wrapper 
		tr 
			td 
				a(href=`${passwordResetUrl}`) Reset Password

	br 
	p Hello from #{gc.appName}!
	p.the-team The #{gc.appName} Team

